<footer>
  <div class="content">
    <ul>
      <li>
        <a href="https://github.com/Turnlings" target="_blank" rel="noopener" title="GitHub">
          <i class="devicon-github-original"></i>
        </a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/ryan-michael-turner" target="_blank" rel="noopener" title="LinkedIn">
          <i class="devicon-linkedin-plain"></i>
        </a>
      </li>
      <li>
        <a href="mailto:{{ site.email }}" title="Email">
          <i class="fa-solid fa-envelope" style="font-size: 1.5em;"></i>
        </a>
      </li>
    </ul>
    <span>&copy; 2025 Ryan Turner</span>
  </div>
</footer>