@import 'variables';

.project {
    padding: 10px 20px;
    margin: 0 auto;
    max-width: $base-page-width;
    h1 {
        text-align: center;
        margin: 0;
    }

    .project-github-link {
        display: block;
        text-align: center;
        a {
            color: $primary-color;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    img {
        max-width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
        border-radius: 6px;
    }

    iframe {
        margin: 0 auto;
        display: block;
    }

}