.contact-me {
    margin: 0 auto;
    text-align: center;
    max-width: 600px;

    a {
        color: $brand;
        text-decoration: none;

        i {
            width: 40px;
        }
    }

    #email, #message {
        width: 100%;
        max-width: 580px;
        padding: 10px;
        margin: 0;
        border: 2px solid $highlight;
        border-radius: 4px;
        font-family: inherit;
        font-size: inherit;
        color: $bg-dark;
        background-color: #f6f6f6
    }

    button {
        font-size: 1rem;
        width: 100%;
        border-radius: 4px;
        background-color: $brand;
        color: $text-bold;
        border: none;
        padding: 10px;
        cursor: pointer;
    }

    @media (max-width: $breakpoint-md) {
        margin: 0 10px;
        max-width: 100vw;
        #email, #message {
            width: 100%;
            max-width: 100vw;
            box-sizing: border-box;
        }
    }
}