.project {
    padding: 0.5rem 1rem;
    margin: 0 auto;
    max-width: $breakpoint-lg;

    .header-container {
        margin-top: 0.5rem;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .back-button {
        font-size: 1.5rem;
        position: absolute;
        left: 0;

        &:hover {
            text-decoration: none;
        }
    }

    h1 {
        text-align: center;
        margin: 0;
    }

    h2 {
        margin-bottom: 0.5rem;
    }

    .description {
        text-align: center; 
        font-style: italic;
        margin-top: 0;
        margin-bottom: 0.5em;
    }

    .project-links {
        display: flex;
        justify-content: center;
        gap: 1rem;
        margin-bottom: 1rem;
    }
        
    .project-link {
        display: block;
        text-align: center;
        a {
            color: $text-muted;
            text-decoration: none;

            &:hover {
                color: $text;
            }
        }
    }

    .tech-stack {
        display: flex;
        justify-content: center;
        font-size: 1.2rem;
        margin-bottom: 0.5rem;
    }

    img {
        max-width: 100%;
        height: auto;
        display: block;
        margin: 0 auto 0.5rem;
        border-radius: 0.5rem;
    }

    iframe {
        margin: 0 auto;
        display: block;
    }

    .content {
        ul {
            margin-top: 0.5rem;
            padding-left: 1.5rem;
        }
    }
}

.back-button {
    font-weight: bold;
    text-decoration: none; 
    color: $text; 
    font-size: 1rem; 
    display: flex; 

    &:hover {
        text-decoration: underline;
    }
}

blockquote {
    border-left: 4px solid $tertiary-color;
    padding-left: 1em;
    margin: 1em 0;
    font-style: italic;

    ul {
        padding-left: 1rem;
    }
}