.project-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.project-card-link {
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    width: 300px;
}

.project-card-link h3,
.project-card-link p,
.project-card-link i {
    color: black;
    margin: 0;
}

.project-card-link:hover h3,
.project-card-link:hover p {
    color: black;
}

.project-card-link:hover {
    text-decoration: none;
    color: black;
}

.project-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    background-color: #fff;
}

.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.project-image {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}

.project-card h3 {
    font-weight: bold;
    margin: 12px 0 0px;
    display: inline;
}

.project-card p {
    margin-bottom: auto;
}

.project-footer {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-meta {
    float: right;
    display: flex;
    align-items: center;
    gap: 0.5em;
}