.project-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    width: 100%;
}

.project-card-link {
    text-decoration: none;
    color: $text;
    display: flex;
    flex-direction: column;
}

.project-card {
    border: 2px solid $highlight;
    border-radius: 0.5rem;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease, border-color 0.3s ease;
    background-color: $bg-light;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    .content-container {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
    }

    .content {
        margin: 0 0.5rem;
        h3.project-title {
            font-size: 1.2rem;
            font-weight: bold;
            margin: 1rem 0 0.5rem 0;
            display: block;
        }

        p {
            margin-top: 0;
            margin-bottom: 1rem;
        }
    }

    .project-footer {
        margin: auto 0.5rem 0.5rem 0.5rem;
        @include centred-columns;
        margin-top: auto;
        align-items: center;
        gap: 0.5rem;

        overflow: hidden;

        a {
            color: $text;
            text-decoration: none;
            font-weight: bold;

            &:hover {
                text-decoration: underline;
            }
        }

        .view-more {
            flex: 0 0 auto;
        }
        .view-more-link {
            flex-shrink: 0;
        }

        .chip-container {
            flex: 1 1 auto;
            justify-content: flex-end;
            min-width: 0;
            overflow: hidden;
        }

        .project-link {
            flex: 0 0 auto;
            align-items: center;
            a {
                display: flex;
                align-items: center;
            }
        }
    }

    .project-image {
        width: 100%;
        height: auto;
        border-top-left-radius: calc(0.5rem - 2px);
        border-top-right-radius: calc(0.5rem - 2px);
    }

    &:hover {
        transform: translateY(-5px);
        box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
        border: 2px solid $brand;
    }
}

.row { /* Class to support side by side project cards, but switch back to normal on small screens*/
    @media (min-width: $breakpoint-md) {
        flex-direction: row;
        text-align: left;

        .content {
            margin: 1rem;

            h3.project-title {
                margin: 0 0 0.5rem;
            }
        }

        .project-card-image-link {
            width: 40%;
        }

        .content-container {
            width: 60%;
        }

        .project-footer {
            margin: auto 1rem 1rem 1rem;
        }
    }
}

.project-meta {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    justify-content: flex-end;

    a {
        display: flex;
        align-items: center;
    }
}

@media (max-width: $breakpoint-lg) {
    .project-cards {
        gap: 0.5rem;
    }
}

@media (max-width: $breakpoint-md) {
    .project-cards {
        gap: 1rem;
        grid-template-columns: 1fr;
    }
    .project-card {
        margin: 0 auto;
    }
}