---
layout: default
title: {{ project.title }}
---
<div class="project">
    <div class="header-container">
      <a href="/" class="back-button">
        <i class="fa-solid fa-arrow-left"></i>
      </a>
      <h1>{{ page.title }}</h1>
    </div>
    <p class="description">{{ page.description }}</p>
    {% if page.link_url or page.github_url %}
      <div class="project-links">
        {% if page.github_url %}
          <div class="project-link">
            <a href="{{ page.github_url }}" target="_blank" rel="noopener">
              <i class="devicon-github-original"></i> GitHub
            </a>
          </div>
        {% endif %}
        {% if page.link_url %}
          <div class="project-link">
            <a href="{{ page.link_url }}" target="_blank" rel="noopener">
              <i class="fa-solid fa-link"></i> {{ page.link_name }}
            </a>
          </div>
        {% endif %}
      </div>
    {% endif %}
    <div class="tech-stack">
      <ul class="tech-chips">
        {% for i in page.tech %}
          <li class="tech-chip">
            <i class="{{ i.icon }}"></i>
            <span>{{ i.name }}</span>
          </li>
        {% endfor %}
      </ul>
    </div>
    <div>{{ content }}</div>
</div>