footer {
    background-color: $bg-light;
    border-top: 1px solid $highlight;

    .content {
        max-width: $breakpoint-lg;
        margin: 0 auto;
        padding: 0 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    ul {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        padding: 0;
        align-items: center;
        justify-content: center;

        a {
            color: $text;
            text-decoration: none;

            &:hover {
                color: $text-muted;
            }
        }

        i {
            font-size: 1.5rem;
            width: 30px;
            height: 30px;
        }
    }
}