nav {
    background-color: $primary-color;
    color: $secondary-color;

    .right-links {
        padding: 10px;
        margin: 0 auto;
        max-width: $base-page-width;
        display: flex;
        justify-content: flex-end;
    }
    
    a {
        font-size: 1.2rem;
        color: $secondary-color;
        text-decoration: none;
        padding: 5px 15px;
        display: inline-block;
    }
}